---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Reference from '../components/Reference.astro';
import Storitve from '../components/Storitve.astro';
import OPodjetju from '../components/OPodjetju.astro';
import Kontakt from '../components/Kontakt.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Domov">
  <Header />
  <main>
    <Hero />
    <Reference />
    <Storitve />
    <OPodjetju />
    <Kontakt />
  </main>
  <Footer />
</Layout>
